# ── Terraform ─────────────────────────────────────────────────────────────────
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# ── Secrets ───────────────────────────────────────────────────────────────────
**/.env
*.env

# ── Binaires et archives téléchargés ──────────────────────────────────────────
**/*.tar.gz
**/*.zip
**/kubectl
**/oc
**/openshift-client-*

# ── Java / Maven ──────────────────────────────────────────────────────────────
target/
*.class
*.jar
*.war

# ── macOS ─────────────────────────────────────────────────────────────────────
.DS_Store

# ── IDE ───────────────────────────────────────────────────────────────────────
.idea/
.vscode/
