# Terraform providers & state
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Secrets
.env
**/.env

# Binaires et archives
*.tar.gz
*.zip
kubectl
oc
openshift-client-*
